<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/custom.css}"/>

	<title>Change Password</title>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<a class="nav-logo" th:href="@{/}"><img th:src="@{/images/nav-merae-logo.png}" width="120" height="30"/></a>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/}">Home</a></li>
				<li sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Employees
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/employees/projects}">Projects</a></li>
						<li><a th:href="@{/employees/info}">Information</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Settings
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/settings}">Profile</a></li>
						<li><a th:href="@{/settings/edit}">Edit Contact Info</a></li>
						<li><a th:href="@{/settings/changePassword}">Change Password</a></li>
					</ul>
				</li>
				
				<!-- Used JavaScript to have the link perform a POST on a hidden form -->
				<li>
					<a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
						<form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
      						<input hidden="true" type="submit" value="Sign Out"/>
   						</form> 
				</li>
			</ul>
 		</div>
	</nav>

	<div class="container">
		<h3>Change Password</h3>
		<hr>
		
		<div class="form-group" th:if="${successChange}">
			<div class="col-xs-15">
				<div>
					<div class="alert alert-success col-md-4">
						Password successfully changed!
					</div>
				</div>
			</div>
			<br><br><br>
		</div>
				
		<form action="#" th:action="@{/settings/changePassword}"
						 th:object="${me}" method="POST">
						 
			<!-- Because of constraints on these fields -->
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{username}" />
			<input type="hidden" th:field="*{password}" />
			<input type="hidden" th:field="*{email}" />
			<input type="hidden" th:field="*{phone}" />
			<input type="hidden" th:field="*{firstName}" />
			<input type="hidden" th:field="*{lastName}" />
			
			<div style="margin-bottom: 25px" class="input-group col-md-4">
				<label>Current Password</label>
				<span th:if="${isCurrEmpty}" class="error"> Please enter password</span>
				<span th:if="${isWrongPassword}" class="error"> Incorrect password</span>
				<input type="password" id="currPass" name="currPass" class="form-control" placeholder="Current Password" />
			</div>
			
			<div style="margin-bottom: 25px" class="input-group col-md-4">
				<label>New Password</label>
				<span th:if="${isNotMatch}" class="error"> Passwords don't match</span>
				<span th:if="${isNewEmpty}" class="error"> Please enter password</span>
				<input type="password" id="newPass" name="newPass" class="form-control" placeholder="New Password" />
			</div>
			
			<div style="margin-bottom: 25px" class="input-group col-md-4">
				<label>Verify New Password</label>
				<span th:if="${isNotMatch}" class="error"> Passwords don't match</span>
				<span th:if="${isVerifyEmpty}" class="error"> Please enter password</span>
				<input type="password" id="verifyPass" name="verifyPass" class="form-control" placeholder="Verify New Password" />
			</div>
			
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			
			<div class="form-group">
				<button type="submit" class="btn btn-info">Save Changes</button>
			</div>			
			
		</form>
	</div>

</body>

</html>