<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/custom.css}"/>

	<title>My Profile</title>
</head>

<body>
	<nav th:replace="nav-fragment :: nav"></nav>
	
	<div class="container">
		<h3>My Profile</h3>
		<hr>
		<label>Username</label>
		<p th:text=${me.username} />
		<br>
		<label>First Name</label>
		<p th:text=${me.firstName} />
		<br>
		<label>Last Name</label>
		<p th:text=${me.lastName} />
		<br>
		<label>Email</label>
		<p th:text=${me.email} />
		<br>
		<label>Phone</label>
		<p th:text=${me.phone} />
		<br>
		
		<label th:if="${myRoles.size()} == 1">Position</label>
		<label th:if="${myRoles.size()} > 1">Positions</label>
		<div th:each="myRole : ${myRoles}">
			<span th:text=${myRole}></span>
		</div>
		
	</div>
</body>

</html>