<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/custom.css}"/>

	<title>Add Project</title>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/}">Home</a></li>
				<li sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Employees
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/employees/projects}">Projects</a></li>
						<li><a th:href="@{/employees/info}">Information</a></li>
					</ul>
				</li>
				<li><a th:href="@{/profile}">Profile</a></li>
				
				<!-- Used JavaScript to have the link perform a POST on a hidden form -->
				<li>
					<a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
						<form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
      						<input hidden="true" type="submit" value="Sign Out"/>
   						</form> 
				</li>
			</ul>
 		</div>
	</nav>
	<br><br>
	
	
</body>

</html>