<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/custom.css}"/>

	<title>Assign Project</title>
</head>

<body>
	<nav th:replace="nav-fragment :: nav"></nav>
	
	<div class="container">
		<h3>Assign Project</h3>
		<hr>
		<form action="#" th:action="@{/employees/projects/assign}"
						 th:object="${project}" method="POST">
					 
			<div style="margin-bottom: 25px" class="input-group">							
				<select class="form-control" th:field="*{user}">
					<option th:each="des : ${designers}" th:value="${des.id}" th:text="${des.firstName} + ' ' + ${des.lastName}"></option>
				</select>
			</div>
			
			<input type="hidden" name="projectId" th:value="${project.id}" />
			
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
			
			<button type="submit" class="btn btn-info col-2">Assign</button>	 
		</form>
		<hr>
		<a th:href="@{/employees/projects}">Back to Employees Projects</a>
	</div>
	<br><br>
	
</body>
</html>