<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/custom.css}"/>

	<title>Home</title>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<a class="nav-logo" th:href="@{/}"><img th:src="@{/images/nav-merae-logo.png}" width="120" height="30"/></a>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/}">Home</a></li>
				<li sec:authorize="hasAuthority('ROLE_ADMIN')" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Employees
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/employees/projects}">Projects</a></li>
						<li><a th:href="@{/employees/info}">Information</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Settings
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/settings}">Profile</a></li>
						<li><a th:href="@{/settings/edit}">Edit Contact Info</a></li>
						<li><a th:href="@{/settings/resetPassword}">Reset Password</a></li>
					</ul>
				</li>
				
				<!-- Used JavaScript to have the link perform a POST on a hidden form -->
				<li>
					<a href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
						<form name="logoutForm" th:action="@{/logout}" method="POST" th:hidden="true">
      						<input hidden="true" type="submit" value="Sign Out"/>
   						</form> 
				</li>
			</ul>
 		</div>
	</nav>
	
	<p class="welcome" align="right" th:text="${'Welcome back, ' + me.firstName + '!'}" />
	
	<br>
	<div class="container">
		<h4><b>My Assigned Projects</b></h4>
		<hr>
		<table th:if="${myIncompleteProjects} and ${myIncompleteProjects.size()}" class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Company</th>
					<th>Paid?</th>
					<th>Invoice</th>
					<th>Date Assigned</th>
					<th>Project</th>
					<th>Description</th>
					<th>Print?</th>
					<th>Status</th>
					<th>Final Due Date</th>
					<th>Completed?</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="myIncomplete : ${myIncompleteProjects}">
					<td th:text="${myIncomplete.company}" />
					<td th:if=${myIncomplete.paid}>Yes</td>
					<td th:if=${!myIncomplete.paid}>No</td>
					<td><a th:href="${myIncomplete.invoice}" target="_blank">Link</a></td>
					<td th:text="${#temporals.format(myIncomplete.assignedDate, 'MM/dd/yyyy')}" />
					<td th:text="${myIncomplete.type}" />
					<td th:text="${myIncomplete.description}" />
					<td th:if=${myIncomplete.print}>Yes</td>
					<td th:if=${!myIncomplete.print}>No</td>
					<td><a th:href="@{/updateStatus(projectId=${myIncomplete.id})}" th:text="${myIncomplete.status}"></a></td>
					<td th:text="${#temporals.format(myIncomplete.dueDate, 'MM/dd/yyyy')}" />
					<td>
						<a th:href="@{/submit(projectId=${myIncomplete.id})}"
						   class="btn btn-success btn-sm"
						   onclick="if (!(confirm('Are you sure you want to submit this project?'))) return false">
							Complete
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<p th:unless="${myIncompleteProjects} and ${myIncompleteProjects.size()}">No projects at the moment.</p>
	</div>
	<br>
	<div class="container">
		<h4><b>My Completed Projects</b></h4>
		<hr>
		<table th:if="${myCompletedProjects} and ${myCompletedProjects.size()}" class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Company</th>
					<th>Paid?</th>
					<th>Invoice</th>
					<th>Project</th>
					<th>Submitted On</th>
					<th>Undo Complete?</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="myCompleted : ${myCompletedProjects}">
					<td th:text="${myCompleted.company}" />
					<td th:if=${myCompleted.paid}>Yes</td>
					<td th:if=${!myCompleted.paid}>No</td>
					<td><a th:href="${myCompleted.invoice}" target="_blank">Link</a></td>
					<td th:text="${myCompleted.type}" />
					<td th:text="${#temporals.format(myCompleted.submittedDate, 'MM/dd/yyyy')}" />
					<td>
						<a th:href="@{/undoComplete(projectId=${myCompleted.id})}"
						   class="btn btn-primary btn-sm"
						   onclick="if (!(confirm('Are you sure you want to undo complete?'))) return false">
							Undo Complete
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<p th:unless="${myCompletedProjects} and ${myCompletedProjects.size()}">No projects completed.</p>
	</div>
	
	<br>
	<div class="container">
		<h4><b>My Cancelled Projects</b></h4>
		<hr>
		<table th:if="${myCancelledProjects} and ${myCancelledProjects.size()}" class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Company</th>
					<th>Paid?</th>
					<th>Invoice</th>
					<th>Project</th>
					<th>Cancelled On</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="myCancelled : ${myCancelledProjects}">
					<td th:text="${myCancelled.company}" />
					<td th:if=${myCancelled.paid}>Yes</td>
					<td th:if=${!myCancelled.paid}>No</td>
					<td><a th:href="${myCancelled.invoice}" target="_blank">Link</a></td>
					<td th:text="${myCancelled.type}" />
					<td th:text="${#temporals.format(myCancelled.cancelledDate, 'MM/dd/yyyy')}" />
				</tr>
			</tbody>
		</table>
		<p th:unless="${myCancelledProjects} and ${myCancelledProjects.size()}">No projects cancelled.</p>
	</div>
	
	
</body>

</html>